  <div class="spinner" ng-hide="loaded"></div>
            <div ng-cloak="" ng-show="loaded">
<div class="table-responsive">
    <h1>Add  Events</h1>
<table class = "table">
            <th>event_id</th>
            <th>event_type</th>
            <th>sport_id</th>
            <th>event_datetime</th>
            <th>start_date</th>
            <th>end_date</th>
            <th>country_id</th>
            <th>team-no-needs</th>
            <th>block_time</th>
            <th>threshold_close_time</th>
            <th>Add Events </th>
     <th>Remove Row </th>
    
               <tr class = "active" data-ng-repeat="data in choices">
                   
                   <td><input type="text" ng-model="e.event_id"></td>
                   <td><input type="text" ng-model="e.event_type"></td>
                   <td><input type="text" ng-model="e.sport_id"></td>
                   <td><input type="text" ng-model="e.event_datetime"></td>
                   <td><input type="text" ng-model="e.start_date"></td>
                   <td><input type="text" ng-model="e.end_date"></td>
                   <td><input type="text" ng-model="e.country_id"></td>
                   <td><input type="text" ng-model="e.team-no-needs"></td>
                   <td><input type="text" ng-model="e.block_time"></td>
                   <td><input type="text" ng-model="e.threshold_close_time"></td>
                 
                   <td> <!-- delete a message -->
        <button ng-click="event.$add(e)">Click_to_Edit</button></td>
             <td><button class="remove" ng-show="$last" ng-click="removeChoice()">Cancel</button></td>
            </tr>
   
   </table>    
</div>
<button class="addfields" ng-click="addNewChoice()">Add fields</button>
</div>