<!--
    <div class="spinner" ng-hide="loaded"></div>
            <div ng-cloak="" ng-show="loaded">-->
    <div class="table-responsive">        
    <h1>Add  Sports</h1> 
<table class = "table">
            <th>sport_id</th>
            <th>sport_name</th>
            <th>Add Sports </th>
    <th>Remove Row </th>
               <tr class = "active" data-ng-repeat="data in choices">
                   
                   <td><input type="text" ng-model="s.sport_id"></td>
                   <td><input type="text" ng-model="s.sport_name"></td>             
                   <td> <!-- delete a message -->
        <button ng-click="sport.$add(s)">Click_to_Add</button></td>
           <td><button class="remove" ng-show="$last" ng-click="removeChoice()">Cancel</button></td>
            </tr>
   
   </table>    
</div>
                <button class="addfields" ng-click="addNewChoice()">Add fields</button>
  
<input type="file" name="filename" id="filename">
<button  ng-click="csvJSON(filename)">import CSV</button>
  </div>       
            

